<div class="row justify-content-md-center">
	<div class="col-md-6 pt-4">
		<div class="text-center">
			<i class="far fa-hg fa-frown-open mb-4"></i>
			<h1>Opps!</h1>
			<p>{{message}}</p>
		</div>
	</div>
</div>