<div class="row justify-content-md-center">
	<div class="col-md-6 pt-4">
		<div class="text-center">
			<i class="far fa-hg text-success fa-check-circle mb-4"></i>
			<h1>Welcome to the family!</h1>
			<p>We've created your account. Now you can login.</p>
		</div>
		<a href="/login" class="btn btn-lg btn-success btn-block mt-5">Login</a>
	</div>
</div>